#python -m venv .venv
#source .venv/Scripts/activate
#pip install -r requirements.txt
#python.exe -m pip install --upgrade pip

PyInputPlus==0.2.12
requests
Pillow
yfinance==0.2.31
tkintermapview==1.29
psycopg2-binary==2.9.9
seaborn==0.13.0